@model IEnumerable<src.Models.Entities.Produto>

<table class="table table-borderless table-hover">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Valor unit.</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>

    <tbody class="">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Quantidade</td>
                <td>@item.Valor.ToString("C")</td>
                <td>@item.Total().ToString("C")</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id"><i class="fa-solid fa-file-pen fa-orange"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>